doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    body
    div(class='back')
    block content
    div(class='down')
      div(class='content2')
        a(href='/') Главная
        a(href='/tales') Сказки
        a(href='/contacts') Контакты
        a(href='/about') О нас
